@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.show-only-dark {
  display: none;
}

:root {
  --background: #ffffff;
  --foreground: #353935;
  --grid-color: #afafaf;
    --font-geit-sans: sans-serif;
    --font-geit-mono: monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --color-grid: var(--grid-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-georgia: "Georgia", serif;
    --font-england: "England", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --grid-color: #6e6e6e;
  }

  .show-only-light {
    display: none;
  }

  .show-only-dark {
    display: block;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
